{% include 'header/header2.html' %}
{% load static %}
{% load i18n %}
<div class="container mt-5 p-10 text-2xl">
    <h2>{% trans 'EXAMINE GUIDES' %}</h2>
    <h5>
        <a href="{% url 'individual_symptoms' %}" class="justify-content-center m-5">
                <i class="fa fa-stethoscope mb-1 indigo-text" aria-hidden="true">{% trans 'IDENTIFY SPECIFIC SYMPTOMS' %}</i></a>
    </h5>
    <form action="{% url 'examine_search' %}" method="get">
        <input class="form-control" name="q" type="text" placeholder="{% trans 'Search' %}...">
    </form>
    <hr>
    <div class="row justify-content-evenly">
        {% for guide in object_list %}
            <div class="col-md-6">
                <h2><a class="indigo-text link-light" href="{% url 'examine_detail' guide.pk %}">{{ guide.title }}</a></h2>
                <p>{{ guide.body|slice:":400"|safe }}...</p>
            </div>
        {% empty %}
            <p>{% trans 'Sorry, no content yet' %}</p>
        {% endfor %}
    </div>
</div>
{% include 'header/footer2.html' %}