{% include 'header/header2.html' %}
{% load static %}
{% load i18n %}
<div class="container mt-5 p-10 text-2xl">
    <div>
        <a href="{% url 'content_index' %}" class="justify-content-center">
            <i class="fa fa-angle-double-left mb-1 indigo-text" aria-hidden="true">{% trans 'DISEASE INDEX' %}</i></a>
    </div>
    <hr>
    {% for post in posts %}
        <h2><a class="indigo-text link-light" href="{% url 'content_detail' post.pk %}">{{ post.title }}</a></h2>
        <small>
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a class="indigo-text link-dark" href="{% url 'content_category' category.name %}"> {{ category.name }} </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body|slice:":400"|safe }}...</p>
    {% empty %}
        <p>Sorry, no content found</p>
    {% endfor %}
</div>
{% include 'header/footer2.html' %}


