<div class="container">
           <div class="row align-self-center">
               <div class="col-md-6">
                    <!-- ANIMAL IDENTIFIER input -->
                    <div class="form-outline">
                      <input type="text" id="animl_id" name="animl_id" class="form-control" value="{{ observation.animl_id }}"  />
                      <label class="form-label" for="animl_id">Animal Identifier</label>
                    </div>
               </div>
              <div class="col-md-6">
                  <!-- DATE input -->
                  <div class="form-outline">
                      <input type="date" id="observe_date" name="observe_date" class="form-control" value="{{ observation.observe_date }}" />
                      <label class="form-label" for="observe_date">Observation Date</label>
                  </div>
              </div>
           </div>
           <hr/>

           <div class="row">
               <div class="col-md-6">
                    <!-- EXAMINE FRONT input -->
                    <div class="form-outline mb-5">
                        <textarea id="examine_front" name="examine_front" class="form_control" >{{ observation.examine_front }}</textarea>
                        <label class="form-label" for="examine_front">EXAMINE FRONT SECTION</label>
                    </div>
               </div>
               <div class="col-md-6">
                   <p>INFORMATION AND GUIDANCE</p>
               </div>
               <hr/>
               <div class="col-md-6">
                    <!-- EXAMINE BACK input -->
                    <div class="form-outline mb-5">
                        <textarea id="examine_back" name="examine_back" class="form_control" >{{ observation.examine_back }}</textarea>
                        <label class="form-label" for="examine_back">EXAMINE BACK SECTION</label>
                    </div>
                </div>
               <div class="col-md-6">
                   <p>INFORMATION AND GUIDANCE</p>
               </div>
               <hr/>
               <div class="col-md-6">
                    <!-- EXAMINE REST input -->
                    <div class="form-outline mb-5">
                        <textarea id="examine_rest" name="examine_rest" class="form_control" >{{ observation.examine_rest }}</textarea>
                        <label class="form-label" for="examine_rest">EXAMINE REST SECTION</label>
                    </div>
                </div>
               <div class="col-md-6">
                   <p>INFORMATION AND GUIDANCE</p>
               </div>
               <hr/>
            </div>
       </div>