

        <div class="col-md-4 col-sm-4"><label for="fever">Fever</label> </div> <input id= "fever" name="fever" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="diff_breathing">Difficulty Breathing:</label> </div> <input id= "diff_breathing" name="diff_breathing" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="distend">Distended left Abdomen:</label> </div> <input id= "distend" name="distend" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="discomfort">Discomfort:</label> </div> <input id= "discomfort" name="discomfort" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="bellowing">Bellowing:</label> </div> <input id= "bellowing" name="bellowing" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="lethargy">Lethargy:</label> </div> <input id= "lethargy" name="lethargy" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="appetite">Loss of Appetite:</label> </div> <input id= "appetite" name="appetite" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="ocular">Ocular Discharge:</label> </div> <input id= "ocular" name="ocular" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="nasal">Nasal Discharge:</label> </div> <input id= "nasal" name="nasal" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="oral_lesions">Oral Lesions:</label> </div> <input id= "oral_lesions" name="oral_lesions" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="diarrhea">Diarrhea:</label> </div> <input id= "diarrhea" name="diarrhea" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="decreasing_milk">Decreasing Milk Production:</label> </div> <input id= "decreasing_milk" name="decreasing_milk" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="abortion">Abortion:</label> </div> <input id= "abortion" name="abortion" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="stillborn">Stillborn:</label> </div> <input id= "stillborn" name="stillborn" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="weak_calf">Weak Calf:</label> </div> <input id= "weak_calf" name="weak_calf" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="fetal">Retention of Fetal Membrane:</label> </div> <input id= "fetal" name="fetal" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="swollen_test">Swollen Testicles:</label> </div> <input id= "swollen_test" name="swollen_test" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="skin_lesions">Skin Lesions:</label> </div> <input id= "skin_lesions" name="skin_lesions" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="bold_plaques">Bold Plaques:</label> </div> <input id= "bold_plaques" name="bold_plaques" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="hair">Tufts of Hair coming off:</label> </div> <input id= "hair" name="hair" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="mouth_blisters">Blisters in the Mouth:</label> </div> <input id= "mouth_blisters" name="mouth_blisters" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="foot_blisters">Blisters on Feet:</label> </div> <input id= "foot_blisters" name="foot_blisters" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="weight_loss">Weight Loss:</label> </div> <input id= "weight_loss" name="weight_loss" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="frothing">Frothing of Mouth:</label> </div> <input id= "frothing" name="frothing" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="lameness">Lameness</label></div> <input id= "lameness" name="lameness" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="late_abortion">Late Abortion:</label> </div> <input id= "late_abortion" name="late_abortion" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="jaundice">Jaudince:</label> </div> <input id= "jaundice" name="jaundice" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="depressed_appetite">Depressed Appetite:</label> </div> <input id= "depressed_appetite" name="depressed_appetite" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="fertility">Reduced Fertility:</label> </div> <input id= "fertility" name="fertility" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="rubbing">Rubbing:</label> </div> <input id= "rubbing" name="rubbing" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="hair_loss">Hair Loss:</label> </div> <input id= "hair_loss" name="hair_loss" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="biting">Biting:</label> </div> <input id= "biting" name="biting" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="scratching">Scratching:</label> </div> <input id= "scratching" name="scratching" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="depression">Depression:</label> </div> <input id= "depression" name="depression" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="coordination">Lack of Coordination:</label> </div> <input id= "coordination" name="coordination" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="isolation">Isolation from herd:</label> </div> <input id= "isolation" name="isolation" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="salivation">Salivation:</label> </div> <input id= "salivation" name="salivation" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="facial_paralysis">Facial Paralysis:</label> </div> <input id= "facial_paralysis" name="facial_paralysis" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="blood_poisoning">Blood Poisoning:</label> </div> <input id= "blood_poisoning" name="blood_poisoning" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="anaemia">Anaemia:</label> </div> <input id= "anaemia" name="anaemia" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="weight_gain">Reduced Live Weight Gain:</label> </div> <input id= "weight_gain" name="weight_gain" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="swelling_udders">Swelling in Udders:</label> </div> <input id= "swelling_udders" name="swelling_udders" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="hardness_udders">Hardness of Udders:</label> </div> <input id= "hardness_udders" name="hardness_udders" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="redness_udders">Redness or Pain in Udders:</label> </div> <input id= "redness_udders" name="redness_udders" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="watery_milk">Watery milk:</label> </div> <input id= "watery_milk" name="watery_milk" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="clots_milk">Clots in Milk:</label> </div> <input id= "clots_milk" name="clots_milk" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="mobility">Reduced Mobility:</label> </div> <input id= "mobility" name="mobility" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="stillbirth">Stillbirth - mother:</label> </div> <input id= "stillbirth" name="stillbirth" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="coughing">Coughing:</label> </div> <input id= "coughing" name="coughing" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="nose_pus">Pus from Nose:</label> </div> <input id= "nose_pus" name="nose_pus" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="condition_loss">Progressive loss of Condition:</label> </div> <input id= "condition_loss" name="condition_loss" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="rumination">Suspended Rumination</label> </div> <input id= "rumination" name="rumination" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="rapid_heart">Rapid Heart Rates</label></div> <input id= "rapid_heart" name="rapid_heart" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="crepitation">Crepitation Swelling</label></div> <input id= "crepitation" name="crepitation" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="painful_swelling">Painful Swelling</label></div> <input id= "painful_swelling" name="painful_swelling" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="painless_swelling">Painless Swelling</label></div> <input id= "painless_swelling" name="painless_swelling" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="prostration">Prostration</label></div> <input id= "prostration" name="prostration" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="strange_behaviour">Strange Behaviour</label></div> <input id= "strange_behaviour" name="strange_behavior" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="mounting">Mounting Others</label></div> <input id= "mounting" name="mounting" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="restlessness">Restlessness</label></div> <input id= "restlessness" name="restlessness" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="swelling_head">Swelling of head and neck</label></div> <input id= "swelling_head" name="swelling_head" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="inflammation_eyes">Inflammation of Eyes</label></div> <input id= "inflammation_eyes" name="inflammation_eyes" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="swelling_mouth">Swelling in mouth</label></div> <input id= "swelling_mouth" name="swelling_mouth" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="ulcers_mouth">Ulcers in mouth</label></div> <input id= "ulcers_mouth" name="ulcers_mouth" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="tiredness">Tiredness</label></div> <input id= "tiredness" name="tiredness" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="teeth_grinding">Grinding Teeth</label></div> <input id= "teeth_grinding" name="teeth_grinding" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="dark_urine">Dark coloured urine</label></div> <input id= "dark_urine" name="dark_urine" type="checkbox" value=1><br><br>
        <div class="col-md-4 col-sm-4"><label for="anorexia">Anorexia</label></div> <input id= "anorexia" name="anorexia" type="checkbox" value=1><br><br>
<!--        <div class="col-md-4 col-sm-4"><label for=""></label></div> <br><br>-->

<!--    <div class="col-md-4 col-sm-4"><label for=""></label>
</div> <input id= "" name="" type="checkbox" value=1><br><br>-->

