{% include 'header/header2.html' %}
{% load i18n %}
<div class="container mt-10">
    <div class="card" style="background-color:" data-widget='{"draggable": "false"}'>
        <div class="card-header teal">
            <h2 class="card-title">{% trans 'IDENTIFY SPECIFIC SYMPTOMS' %}</h2>
        </div>
        <div class="card-body">
<!--            <h1>Add 0 or 1</h1>-->
            <div class="container justify-content-center mb-10">
                <a href="{% url 'export' %}" class="btn btn-outline-dark">Download List of Symptoms</a>
                <p>{% trans 'If you are not sure, feel free to check the list of' %}
                    <a href="{% url 'examine_index' %}" class="text-blue-100">{% trans 'Symptoms' %}</a></p>
            </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Symptom</th>
    </tr>
  </thead>
  <tbody>
<!--    <tr>-->
<!--      <th scope="row">-->
<!--          <a href="{% url 'fever' %}" class="justify-content-center">-->
<!--                <i class="fa fa-thermometer-full mb-1 indigo-text" aria-hidden="true"></i></a>-->
<!--      </th>-->
<!--      <td>FEVER</td>-->
<!--    </tr>-->
    <tr>
        <th scope="row">
          <a href="{% url 'mastitis' %}" class="justify-content-center">
                <i class="fa fa-heartbeat mb-1 indigo-text" aria-hidden="true"></i></a>
      </th>
      <td>CLOTS IN MILK</td>
    </tr>
  </tbody>
</table>
            <form method="post" enctype="multipart/form-data" action="diagnose" class="validate">
                <div class="container row justify-content-center " >
<!--                    <table>-->
                    {% csrf_token %}
<!--                    {{ form.as_table }}-->
<!--                    </table>-->
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'header/footer.html' %}